*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.749);
    margin: 0;
    padding: 0%;
}

h1{
    color: #00a8e1;
    margin-left: 75px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: black; */
    color: aliceblue;
    margin: 0%;
    height: 65px;
    position: fixed;
    top: 0;
    width: 100%;
}

#search-bar-container{
    display: flex;
    margin-right: 75px;
}

#search-button,#movie{
    padding: 12px 16px;
    margin-right: 5px;
    border-radius: 16px;
    border: none;
}

#movie{
    background-color: #414141;
    color: aliceblue;
}

#search-button{
    background-color: #00a8e1;
    color: #000000;
}

#search-button:hover{
    background-color: rgba(52, 150, 255, 0.71);
    color: aliceblue;
}

#search-button:active{
    background-color: rgb(98, 95, 95);
    color: aliceblue;
}

h3{
    margin-top: 0%;
    font-size: 32px;
    font-weight: 500;
    margin-left: 20px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.701);
    color: aliceblue;
    margin: auto;
    /* margin-top: 65px; */
    padding: 30px;
    padding-top: 95px;
    /* max-width: 900px; */
    width: 100%;
    height: 550px;
}

#image-poster{
    display: flex;
    padding: 30px;
    justify-self: center;
    justify-content: center;
    margin: auto;
}

#movie-data{
    max-width: 400px;
    width: 100%;
    margin-left: 20px;
    color: rgba(240, 248, 255, 0.568);
}

footer{
    color:rgba(117, 117, 117, 0.681);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 5px 0;
}

#omdb-link{
    color: rgba(255, 228, 196, 0.325);
}

.footer-p{
    margin: 2px 0; 
}
